body, html, h1, h2, h3 {
	font-family: 'Open Sans', sans-serif; 
	margin: 0;
	padding: 0;
	border-sizing: box-border;
	font-weight: bolder;
}
/****************************
******Full Screen CSS *******
****************************/
@media (min-width: 821px) {
	.news-section {
		width: 350px;
		height: 850px;
		font-size: 1.1em;
		float: left;
		padding: 10px;
		min-height: 770px;
	}
	.button {
		display: none;
	}
	.links-left {
		width: 30%;
		float: left;
		margin: 10px;
	}
	.links-center {
		width: 30%;
		float: left;
		margin: 10px;
	}
	.links-right {
		width: 30%;
		float: left;
		margin: 10px;
	}
	.pics {
		float: left;
		height: 350px;
		width: 350px;
	}
}
/****************************
******Tablet Screen CSS *******
****************************/
@media (max-width : 820px) {
	.news-section {
		width: 100%;
		font-size: 2em;
		float: none;
		padding: 10px;
		overflow: auto;
	}
	.button {
		width: 103.5%;
		height: 100px;
		font-size: 2em;
		background-color: gray;
		color: white;
	}
	.links-left, .links-center, .links-right {
		width: 100%;
		float: none;
		font-size: 2em;
		margin: 10px;
	}
	.pics {
		display: none;
	}
}
/****************************
******Phone Screen CSS *******
****************************/
/*@media (max-width : 480px) {
	.news-section {
		width: 100%;
		font-size: 3em;
		float: none;
		padding: 10px;
		overflow: auto;
	}
}*/
body, html {
	width: 100%;
	background-color: black;
}
h1 {
	text-align: center;
	padding-bottom: 8px;
}
a {
	text-decoration: none;
	font-weight: bolder;
}
img {
	width: 100px;
	height: 100px;
}
.hero {
	color: white;
	font-size: 3.5em;
	text-transform: uppercase;
}
aside {
	text-align: center;
	clear: left;
}
main {
	width: 80%;
	margin: 0 auto;
}
.broncos-news {
	background-color: #FB4F14;
	color: #002D62;
}
.broncos-news a, .broncos-news a:visited {
	color: #002D62;
}
.rockies-news {
	background-color: purple;
	color: #C0C0C0;
}
.rockies-news a , .rockies-news a:visited {
	color: #C0C0C0;
}
.nuggets-news {
	background-color: #4B90CD;
	color: #FCF800;
}
.nuggets-news a , .nuggets-news a:visited {
	color: #FCF800;
}
.avs-news {
	background-color: #8B2942;
	color: #A9B0B8;
}
.avs-news a , .avs-news a:visited {
	color: #A9B0B8;
}
.buffs-news {
	background-color: gold;
	color: black;
}
.buffs-news a, .buffs-news a:visited {
	color: black;
}
.rams-news {
	background-color: green;
	color: gold;
}
.rams-news a, .rams-news a:visited {
	color: gold;
}
.falcons-news {
	background-color: darkblue;
	color: silver;
}
.falcons-news a, .falcons-news a:visited {
	color: silver;
}
.rapids-news {
	background-color: #91022D;
	color: #85B7EA;
}
.rapids-news a , .rapids-news a:visited {
	color: #85B7EA;
}
.college-news {
	background-color: red;
	color: blue;
}
.college-news a, .college-news a:visited {
	color: blue;
}
.highschool-news {
	background-color: #eaeaea;
	color: red;
}
.highschool-news a, .highschool-news a:visited {
	color: red;
}
.general-news {
	background-color: darkblue;
	color: darkgray;
}
.general-news a, .general-news a:visited {
	color: darkgray;
}
.outdoors-news {
	background-color: lightgreen;
	color: darkgreen;
}
.outdoors-news a, .outdoors-news a:visted {
	color: darkgreen;
}
.links {
	background-color: #DBDBDB;
	color: black;
	width: 93%;
	float: left;
	padding: 20px;
}
a {
	color: darkblue;
}
a:visited {
	color: darkblue;
}
a:hover {
	color: white;
}
footer {
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	clear: left;
}
footer a, footer a:visited {
	color: white;
}
